.folio{

  article {

    position: relative;

    img{
      display:block;
    }

    p{
      position: absolute;
      bottom:0;
      right:0;
      left:0;

      margin: 0;
      padding: 10px 20px;

      color:#fff;
      background-color: rgba(0 , 0 , 0 , 0.6);


      opacity: 0;
      transition: opacity 0.5ms;

    }

    &:hover p {
      opacity: 1;
    }


  }



}

// IMPORTANT
@media screen and (min-width: $break-1){

  .folio {
    div{
      display:flex;
      flex-wrap:wrap;
    }

  }

  article {
    flex:1 0 50%

    //flex-grow: 0 ;
    //flex-shrink: 1 ;
    //flex-basis: ;

  }


  @media screen and (min-width: $break-2){

    .folio {
      article{
        flex-basis:33.3333%;
      }
    }

  }

}