
header {

  background-color:$couleur-background-menu;

.profile {

  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 40px;

  &-image {

    width:150px;
    height:150px;

    border:4px #fff solid;
    border-radius:50%;

    margin-bottom:20px;
    overflow: hidden;

  }

  h1 , p {

    color:#fff;

  }

  h1 {
    margin:0 0 5px;
  }


  p{
    font-size:rem(18);
    margin:0;
  }

}

}