

.nav-principale {

  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  

  .show-menu{
    display:block;
    text-align: center;
    color:#fff;
    background: #555;
    padding: 10px 0;

  }

  .toggle-menu:checked + ul{

 display:block;

  }

  .toggle-menu{
    display:contents;
  }




  ul{
    margin:0;
    padding: 0;

    display:none;

    a{
      display:flex;
      align-items: center;
      padding: 15px 40px;

      color: $couleur-liens;

      &:hover {

        background-color:$couleur-liens-hover;

      }

    }


    I{
      margin-right:15px;
      font-size:rem(24);
    }



  }


}