//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 

$couleur-texte:#777;
$couleur-background:#fff;
$couleur-background-menu:#5f6d7e;
$couleurs-titres-section:#555;
$couleur-liens:#fff;

$couleur-liens-hover: darken($couleur-background-menu , 5%);
$couleurs-liens-actif: darken($couleur-background-menu , 15%);
