//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE

/// Grosseur des textes

$fz-text-normal:rem;


/// Font Line-height

$lh-large:1.5;




/// Font family

$ff-font:  "Roboto" , "Helvetica" , "Arial" , sans-serif ;


/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;



