




@function rem($fz-text-normal){

  @return ($fz-text-normal \ 16) + rem;
}



// mixing pour ajouter une font

@mixin font($family , $size: "inherit" , $color:#000) {

  font-family: $family;
  font-size: $size;
  color: $color;


}
